<%- partial('common/header', {category: ""}) %>
<div id="content">
  <div class="container">
    <ul class="tab tab-block">
      <li class="tab-item active">
        <a href="#Release-Notes">About & Release Notes</a>
      </li>
    </ul>
    <%- page.content %>
  </div>
</div>
