<header class="navbar <%- category %>">
  <section class="navbar-section">
    <a href="/"  class="tooltip tooltip-bottom" data-tooltip="Map Portal Homepage">City of Zanesville | Map Portal</a>
  </section>
  <section class="navbar-section">
    <a href="http://www.coz.org/maps/" class="tooltip tooltip-bottom" data-tooltip="COZ Maps Homepage">City of Zanesville Maps</a>&nbsp;|&nbsp;
    <a href="#modal-contact" class="tooltip tooltip-bottom" data-tooltip="Contact">Contact</a>
  </section>
</header>